.which-color {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .color {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 30px;
        width: 100%;
        height: 30%;
    }

    .q-and-a {
        flex-grow: 1;
        flex-shrink: 1;

        .message {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 4em;
            vertical-align: middle;
            font-size: 18px;

            .answer {
                .next-quiz-button {
                    background: #ffffff;
                    border: none;
                    color: #6666cc;
                    font-size: 18px;
                }
            }
        }

        .choices {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0 5vw;

            .choice {

                display: flex;
                width: 40vw;
                height: 20vh;
                padding: 1vh 0;

                .choice-button {
                    width: 100%;
                    height: 100%;
                    border: solid 1px #999999;
                    font-size: 20px;
                    border-radius: 3px;
                }
            }
        }
    }
}