@import "../Utils.scss";
@import "./Quiz.scss";

.which-color {

    @include flexContainer($flexDirection: column, $alignItems: stretch);
    @include positionAbsolute();

    .question {

        @include question();
        $messageHeight: 70px;

        .color {
            @include flexContainer();
            flex: 1 1;
            font-size: 30px;

            @include positionAbsolute($bottom: $messageHeight);
        }

        .message {
            @include flexContainer($flexDirection: column);
            @include positionAbsolute($top: auto);
            height: $messageHeight;
            vertical-align: middle;
            font-size: 18px;

            .answer {
                .next-quiz-button {
                    background: #ffffff;
                    border: none;
                    color: #6666cc;
                    font-size: 18px;
                }
            }
        }
    }

    .choices {

        @include choices();

        .choice {

            @include choice();

            .choice-button {
                @include choiceButton();
            }
        }
    }
}