@import "./Quiz.scss";

.which-color {

    @include quiz();

    .question {

        @include question();
        $messageHeight: 70px;
        display: flex;
        flex-direction: column;

        .color {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-family: Consolas, Menlo;
        }

        .message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            height: $messageHeight;
            vertical-align: middle;
            font-size: 18px;
        }
    }

    .choices {

        @include choices();

        .choice {

            @include choice();

            &.answer {
                @include answerEmphasisAnimation();
            }

            .choice-button {
                @include choiceButton();
                font-family: Consolas, Menlo;
                border: none;
            }
        }
    }
}