@import "./Quiz.scss";

.which-code {

    @include quiz();

    .question {

        @include question();
        $messageHeight: 70px;
        display: flex;
        flex-direction: column;

        .color {
            display: flex;
            flex: 1;
            font-size: 30px;
        }

        .message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $messageHeight;
            vertical-align: middle;
            font-size: 18px;
        }
    }

    .choices {

        @include choices();

        .choice {

            @include choice();

            &.answer {
                @include answerEmphasisAnimation();
            }

            .choice-button {
                @include choiceButton();
                border: solid 1px #999999;
                font-family: Consolas, Menlo;

                &:disabled {
                    border: none;
                }
            }
        }
    }
}