@import "../Utils.scss";
@import "./Quiz.scss";

.which-code {

    @include quiz();

    .question {

        @include question();
        $messageHeight: 70px;

        .color {
            @include flexContainer();
            flex: 1 1;
            font-size: 30px;

            @include positionAbsolute($bottom: $messageHeight);
        }

        .message {
            @include flexContainer($flexDirection: column);
            @include positionAbsolute($top: auto);
            height: $messageHeight;
            vertical-align: middle;
            font-size: 18px;
        }
    }

    .choices {

        @include choices();

        .choice {

            @include choice();

            .choice-button {
                @include choiceButton();
            }
        }
    }
}