@import "./Utils.scss";

.App {
    $headerSize: 30px;

    .header {
        @include positionAbsolute($bottom: auto);
        height: $headerSize;
        @include flexContainer($flexDirection: column);
        line-height: $headerSize;
        vertical-align: middle;
    }

    .main {
        @include positionAbsolute($top: $headerSize);
    }
}