body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.App {
  $headerSize: 30px;

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $headerSize;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    line-height: $headerSize;
    vertical-align: middle;
  }

  .main {
    position: absolute;
    top: $headerSize;
    right: 0;
    left: 0;
    bottom: 0;
  }
}